.data {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.message-right {
    background-color: #08854f;
    align-self: flex-end;
}

.message-left {
    background-color: #f19c2d;
    align-self: flex-start;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    font-size: 13px;
    margin-bottom: 5px;
}

.date-status {
    font-size: 0.8em;
    color: #2a2222;
}


