.data {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px, 0px, 5px #3840d5af;
    display: inline-block;
    word-wrap: break-word;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
    color: black
}

.content {
    margin-bottom: 5px;
    color:#181616
}

.date-status {
    text-align: right;
    font-size: 0.8em;
    color: #344754;
    overflow: hidden;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}