.contact-name{
    font-size: 15px;
    font-weight: 15px;
    margin-bottom: 5px;
    color: black;
}
.contact-list {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.home-container .home-whatsapp .contact-list .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
}

.home-container .home-whatsapp .contact-list .contact:hover {
    cursor: pointer;
}

.home-top-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    align-items: center;
}

